* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

body{
    background-color:whitesmoke;
}

.container{
    margin: auto;
}

.card{
    max-width: 30%;
    margin: auto;
}