{% from 'bootstrap/form.html' import render_field %}
{% extends 'base.html' %}

{% block header %}
  Form
{% endblock %}
{% block content %}
<div class="container">
  <div class="card p-1">
    <div class="card-body">
      <form action="/" method="post">
        {{ form.csrf_token }}
        {% for field in form if field.widget.input_type != 'hidden' %}
            <div class="mb-3">
              {{ render_field(field,button_size="block") }}
            </div>
        {% endfor %}
      </form>
    </div>
  </div>
</div>
{% endblock %}